<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<body>
	<form action="">
		{{ form.search }}
		{{ form.sort_field }}
		{{ form.errors }}
		<input type="submit">
	</form>
	
{% for quest in object_list %} 
	
<a href="{% url "questions:quest_detail" pk=quest.pk %}"> <b> {{ quest.title }} </b>
<br>
{% endfor %}

<a href="create"> <b> <h2> Создать вопрос </h2>> </b>
	
<form action="" method="post">
	{% csrf_token %}
	{% for field in form%}
		{{ field.errors }}
		{{ field.label_teag }}
		{{ field }}
	{% endfor %}
        {{ qform }}
        <input type="submit">
</form>


</body>
</html>
